@font-face {
  font-family: "kkb";
  src: url("./sfonts/Karla-Bold.ttf");
}

@font-face {
  font-family: "kkr";
  src: url("./sfonts/Karla-Regular.ttf");
}

/* Container */
html {
  background-color: hsl(148, 38%, 91%);
  font-family: "ppb";
  box-sizing: border-box;
  color: hsl(187, 24%, 22%);
}

div.maindiv {
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  height: 610px;
  width: 42%;
  margin: auto;
  margin-top: 40px;
}

.kkb {
  font-family: "kkb";
}

.kkr {
  font-family: "kkr";
  text-shadow: 0px 0px 2px black;
}

.tc {
  text-align: center;
}

.inp {
  margin-top: 7px;
  font-size: 16px;
  padding: 10px;
  border: 1px groove hsla(189, 24%, 22%, 0.868);
  border-radius: 5px;
  color: black;
}

.m30 {
  margin: 20px;
  padding-top: 25px;
}

.m20 {
  margin: 15px;
  padding-top: 6px;
}

.m10 {
  margin: 15px;
  padding-top: -20px;
}

.mt1 {
  margin-top: 20px;
}

.pl10 {
  padding-left: 7px;
}

.w50 {
  width: 70%;
}

.w100 {
  width: 100%;
}

.w80 {
  width: 85%;
}

.size1 {
  width: 16px;
  height: 16px;
}

.fs {
  font-size: 30px;
}

.fs1 {
  font-size: 15px;
}

.flx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bcolor {
  background-color: hsl(169, 82%, 27%);
}

.bgr {
  background-color: hsl(169, 88%, 49%);
}

.err {
  background-color: rgb(209, 89, 89);
}

.col1 {
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.inp:focus {
  border-color: hsl(169, 88%, 49%);
}

.result {
  position: fixed;
  top: 6%;
  left: 41%;
  border-radius: 10px;
  width: 280px;
  height: 100px;
}
